// On doit mettre mixin, keyframes

@keyframes gradient-in {
  0% {
    background: linear-gradient(0deg, #9356dc, #ff79da);
  }

  10% {
    background: linear-gradient(1deg, #9356dc, #ff79da);
  }

  20% {
    background: linear-gradient(2deg, #9356dc, #ff79da);
  }

  30% {
    background: linear-gradient(3deg, #9356dc, #ff79da);
  }

  40% {
    background: linear-gradient(4deg, #9356dc, #ff79da);
  }

  50% {
    background: linear-gradient(5deg, #9356dc, #ff79da);
  }

  60% {
    background: linear-gradient(6deg, #9356dc, #ff79da);
  }

  70% {
    background: linear-gradient(7deg, #9356dc, #ff79da);
  }

  80% {
    background: linear-gradient(8deg, #9356dc, #ff79da);
  }

  90% {
    background: linear-gradient(9deg, #9356dc, #ff79da);
  }

  100% {
    background: linear-gradient(10deg, #9356dc, #ff79da);
  }
}

@keyframes gradient-out {
  0% {
    background: linear-gradient(10deg, #9356dc, #ff79da);
  }

  10% {
    background: linear-gradient(9deg, #9356dc, #ff79da);
  }

  20% {
    background: linear-gradient(8deg, #9356dc, #ff79da);
  }

  30% {
    background: linear-gradient(7deg, #9356dc, #ff79da);
  }

  40% {
    background: linear-gradient(6deg, #9356dc, #ff79da);
  }

  50% {
    background: linear-gradient(5deg, #9356dc, #ff79da);
  }

  60% {
    background: linear-gradient(4deg, #9356dc, #ff79da);
  }

  70% {
    background: linear-gradient(3deg, #9356dc, #ff79da);
  }

  80% {
    background: linear-gradient(2deg, #9356dc, #ff79da);
  }

  90% {
    background: linear-gradient(1deg, #9356dc, #ff79da);
  }

  100% {
    background: linear-gradient(0sdeg, #9356dc, #ff79da);
  }
}

@keyframes doteAnimation {
  0% {
    transform: translateY(-1px);
    color: #9356dc;
  }

  10% {
    transform: translateY(-3px);
  }

  20% {
    transform: translateY(-5px);
  }

  30% {
    transform: translateY(-7px);
  }

  40% {
    transform: translateY(-9px);
  }

  50% {
    transform: translateY(-11px);
  }

  60% {
    transform: translateY(-13px);
  }

  70% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(-17px);
  }

  90% {
    transform: translateY(-19px);
  }

  100% {
    transform: translateY(-21px);
    color: #ff79da;
  }
}

@keyframes lefttorightAnimation {
  0% {
    transform: translateX(-1000px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes circleAnimation {
  from {
    transform: rotate(0.2turn);
  }

  to {
    transform: rotate(2turn);
  }
}

@keyframes loaderAnimation {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 0.9;
  }

  98% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    z-index: -9999;
  }
}
