.icon-stack {
  position: relative;
  display: inline-block;
  font-size: 22px;
  width: 22px;

  .fa-solid,
  .fa-regular {
    cursor: pointer;
    position: absolute;
    top: 8px;
  }

  .fa-solid {
    z-index: 100;
    opacity: 0%;
    background-clip: text;
    background-image: linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    color: transparent;
    transition: 200ms;

    &:hover {
      opacity: 100%;
    }
  }
}
