header {

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 1055px) {
        height: 96px;
    }

    .header-container {
        width: 80%;
        margin: 0 auto;
        position: relative;

        i {
            font-size: 16px;
            position: absolute;
            // Tranform Y -50% permet de redéfinir le point de centrage de l'icone.
            // Sans tranform Y -50%, le point de centrage serait le coin suppérieur haut gauche.
            transform: translateY(-50%);
            // top 50% permet ensuite de centrer au milieu du container la balise i
            // en prenant en considération le nouveau point de centrage
            top: 50%;
            cursor: pointer;
            padding: 10px;

            &:hover {
                color: $purple;
                padding: 10px;
                border-radius: 150px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            }
        }

        @media only screen and (min-width: 1055px) {
            // display: none;
        }

    }
}