// Reservation part
main {
  // Page principale INDEX -- les pages pour chaque restaurant
  // sera en deuxième partie du main.
  // recherche F en écrivant "style page des restaurants"
  .gps {
    @include childCenter;
    padding: 16px 0 15px;
    background: $light-grey1;
    background: linear-gradient(
      180deg,
      rgba(173, 173, 173, 0.35) 0%,
      rgba(234, 234, 234, 0.75) 15%,
      rgba(234, 234, 234, 1) 100%
    );
  }

  i {
    padding-right: 10px;
  }

  // 1ère partie du main - correspond à la partie "réserver le manu qui vous convient
  .choose-menu {
    @include childCenter;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
    background: $light-grey2;

    h2 {
      @media only screen and (min-width: 1055px) {
        font-size: 2.5em;
      }
    }

    p:nth-child(2) {
      margin: 15px 0 30px;

      @media only screen and (min-width: 1055px) {
        margin: 30px 0;
      }
    }
  }

  // 2ème partie du main - correspond à la partie "Fonctionnement" où nous choisissons le restaurant, le menu et le mode de degustation

  .functioning {
    @include childCenter;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0 70px;
    width: 335px;

    margin: 0 auto;

    @media only screen and (min-width: 1055px) {
      display: flex;
      align-items: flex-start;
      min-width: 1080px;
    }

    h2 {
      margin-bottom: 30px;
    }

    .buttons-functioning {
      @media only screen and (min-width: 1055px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 36px;

        button {
          flex-grow: 1;
          width: auto;
        }
      }
    }
  }

  // 3ème partie du main - correspond à la présentation de quelques restaurants en recommendations.
  .restaurants {
    @include childCenter;
    flex-direction: column;
    background: $light-grey1;
    padding: 50px 0;

    .restaurants-container {
      @include childCenter;
      flex-direction: column;
      margin: 0 auto;
      justify-content: start;
      align-items: flex-start;
      width: 335px;

      @media only screen and (min-width: 1055px) {
        display: flex;
        min-width: 1080px;
        align-items: flex-start;
      }

      .card-container {
        @include childCenter;
        flex-wrap: wrap;
        padding: 20px 0 30px;
        gap: 50px;
        row-gap: 50px;

        @media only screen and (min-width: 1055px) {
          width: 100%;

          a {
            flex-grow: 1;
          }

          .card {
            max-height: 251px;
            flex-grow: 1;
            min-width: 490px;
            margin: 0;
            margin-right: 0;
          }
        }

        .card {
          display: grid;
          grid-template-rows: 70% 30%;
          height: 251px;
          width: 335px;
          border-radius: 15px;
          background: white;
          box-shadow: 0px 1px 9px -6px grey;
          cursor: pointer;
          position: relative;

          @media only screen and (min-width: 1055px) {
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
          }
        }
      }
    }
  }

  // style page des restaurants

  .background-image {
    img {
      object-fit: cover;
      width: 100%;
      height: 275px;
    }
  }

  .menus {
    position: relative;
    height: 100%;
    top: -50px;
    background: $light-grey1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    @media only screen and (min-width: 1055px) {
      background: none;
    }

    .menus-container {
      width: 93%;
      margin: 0 auto;
      max-width: 1055px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background: $light-grey1;
      padding: 50px 0 40px;

      .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 643px;
        margin: auto;

        h4 {
          margin-bottom: 42px;
          margin-right: 24px;
        }
      }

      .plats {
        margin-bottom: 40px;
        max-width: 634px;
        margin: 0 auto 40px;
        transform: translateX(-1000px);
      }

      .plats {
        &:nth-child(2) {
          animation: lefttorightAnimation 1500ms ease-in-out forwards;
        }

        &:nth-child(3) {
          animation: lefttorightAnimation 1500ms ease-in-out forwards;
          animation-delay: 200ms;
        }

        &:nth-child(4) {
          animation: lefttorightAnimation 1500ms ease-in-out forwards;
          animation-delay: 400ms;
        }
      }

      div {
        display: flex;
        flex-direction: column;

        // Effet survole du tick vert
        .btn-white {
          position: relative;
          padding: 0;
          width: auto;
          justify-content: flex-start;
          margin-bottom: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          flex-direction: row;
          justify-content: space-between;

          &:hover .green-tick {
            width: 188px;

            .tick {
              width: 100%;
              transform: translateX(0);
            }
          }

          .green-tick {
            transform: translateX(0px);
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 30%;
            transition: 0.7s;

            .price {
              padding-bottom: 12px;
              height: 100%;
              justify-content: flex-end;
              transition: 0.7s;
              width: 100%;
              align-items: flex-end;
              padding-right: 30px;
            }

            .tick {
              width: 0px;
              background: $fade-green;
              height: 100%;
              display: flex;
              max-width: 59px;
              justify-content: center;
              align-items: center;
              transition: 0.8s;
              transform: translateX(13px);

              i {
                transition: none;
              }
            }
          }

          .fa-check {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            color: $fade-green;
            border-radius: 150px;
            font-weight: 800;
            padding: 5px;
            transition: all 300ms;
          }
        }

        .card-description {
          display: flex;
          align-items: flex-start;
          padding: 12px 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80%;

          .card-txt {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;

            p {
              text-overflow: ellipsis;
              overflow: hidden;
              text-align-last: left;
            }
          }
        }
      }
    }

    .btn {
      margin: 0 auto 0;
    }
  }
}
